@import "tailwindcss";

@layer utilities {
  .gradient-text {
    @apply bg-linear-to-r from-[#7FBD68]  bg-clip-text text-transparent;
    background-size: 300% 100%;
    background-position: left;
    display: inline-block;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.disable-anim * {
  transition: none !important;
}

.enable-anim * {
  transition: all 0.3s ease;
}
